  .clients-item__link {
    width: 170px;
    height: 92px;
    border: 1px solid var(--social-grey);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: fill, border-color;

    &:hover,
    &:focus {border-color: var(--blue);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      svg {
       fill: var(--blue);
       transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     }
    }
  }

    .clients-item__icon {
    width: 106px;
    height: 60px;
    fill: var(--social-grey);
  }



  
