/* Features */
    
  .features-item {
      margin-right: 20px;
      font-size: 14px;
      width: 270px;
    
    &__box {
    background-color: var(--white-grey);
    height: 120px;
    width: 270px;
    left: 215px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
      
      &--antenna {
        width: 65.32px;
        height: 70px
      }
      &--clock {
        width: 66.96px;
        height: 70px
      }
      &--diagram {
        width: 53.69px;
        height: 70px
      }
      &--astronaut {
        width: 54.83px;
        height: 60.66px
      }
    }

    &__tittle {
    
    line-height: 1.42;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.03em;
    }
  
    &__text {
      color: var(--grey);
    }
  }
