

  .address {
    color: var(--white);
    margin-top: 20px;
  
  &--grey {
    color: var(--social-grey);
    margin-top: 9px;
  }
  &__link {
      text-decoration: none;
      color: var(--social-grey);
      margin-top: 9px;
  }
}