.footer-socials {
    margin-left: 70px;
  }
  .footer-socials__title {
    color: var(--white);
    margin-block-start: 12px;
  }
  
  // .footer-socials-item__link {
  //   width: 44px;
  //   height: 44px;
  //   background: rgba(255, 255, 255, 0.1);
  //   border-radius: 50%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   transition-property: background-color;
  // }
  // .footer-socials-item__icon {
  //   width: 20px;
  //   height: 20px;
  //   fill: var(--white);
  // }
  
  // .footer-socials-item__link:hover,
  // .footer-socials-item__link:focus {
  //   background-color: var(--blue);
  //   transition-duration: 250ms;
  //   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // }