// Hamburger menu

// Container

.hamburger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    z-index: 1002;
  }
  
  .hamburger-list-container {
    padding-top: 100px;
    padding-left: 40px;
  }
  
  // JS & toggle buttons
  
  .js-menu-container.is-open {
    transform: translateX(0);
  }
  
  .mobile-navigation__button {
    background-color: var(--white);
    border: none;
    cursor: pointer;
  }


  .hamburger__close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 73%;
    top: 3%;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .hamburger__x {
      width: 70px;
      height: 70px;
  }
  
  // Menu links
  
  .hamburger-list-container__link {
    color: var(--text-black);
  }
  .hamburger-list-container__link--active {
    color: var(--blue);
  }
  
  .hamburger-list-container__link--phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--blue);
  }
  
  .hamburger-list-container__link--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--text-grey);
  }
  
  .hamburger-list-container__link:active {
    color: var(--blue);
  }
  
  .hamburger-list-container__item {
    margin-bottom: 36px;
  }
  
  .hamburger-list-container__item--first {
    margin-top: 202px;
    margin-bottom: 32px;
  }
  
  .hamburger-list-container__item--second {
    margin-bottom: 64px;
  }
  
  // Social links
  
  .hamburger-social {
    color: var(--blue);
    display: flex;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    padding-left: 40px;
    flex-wrap: wrap;
  
    &__item {
      margin-bottom: 20px;
    }
  }
  
  .hamburger-social__item::after {
    content: "";
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin: 0 10px;
  }