
.hero {
    background-color: var(--dark-grey);
    height: 600px;
    background: url("../images/team_image.jpg"), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-size: cover;
  max-width: 1600px;
  margin: 0 auto;

  &__slogan {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.6;
    color: var(--white);
    font-family: "Roboto", sans-serif;
    text-align: center;
    width: 696px;
    padding-top: 200px;
    margin: auto;
  }
    
  &__button {
    line-height: 1.875; 
    font-weight: bold;
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
    width: 200px;
    padding: 10px 42px;
    margin: 30px 500px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
  }
}