.interests-item {
  position: relative;
  width: 370px;
}

.interests-item__img {
height: 294px;
}

.interests-item__subject {
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
height: 70px;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
bottom: 4px;
}