/* Portfolio */
  
  .filters-item {
    margin-right: 8px;
  }
  .filters-item--last {
    margin-right: 0;
    }
  
  .filters-item__button {
    line-height: 1.625;
    font-weight: bold;
    padding: 6px 22px;
    color: var(--text-black);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition-property: background-color, color, box-shadow;
  
  &:hover,
  &:focus {
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  
