
  .team-card {
    background-color: var(--white);
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  
    .team-card__img {
      border-radius: 0px;
      width: 270px;
      height: 260px;
    }
  
  .team-card__name {
    line-height: 1.1875;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .team-card__job {
    color: var(--grey);
    line-height: 1.1875;
    text-align: center;
  }