.container {
        width: 1200px;
        margin: 0 auto;
    }

  .container--header {
    display: flex;
    align-items: center;
    height: 80px;
  }

    .container--footer {
        padding-top: 60px;
        display: flex;
    }
