.container {
        width: 1200px;
        margin: 0 auto;
    
  &--header {
    display: flex;
    align-items: center;
    height: 80px;
  }

  &--footer {
        padding-top: 60px;
        display: flex;
    }
  }