.list {
    list-style-type: none;
    display: flex ;
    justify-content: space-between;
}

.list--socials {
        margin-right: 32px;
        margin-left: 32px;
        margin-bottom: 18px;
        padding-bottom: 12px;
}
    
.list--footer-socials {
    gap: 10px;
  }
  .list--filters {
    justify-content: center;
      margin-bottom: 50px;
  }
  .list--projects {
    flex-wrap: wrap;
    row-gap: 30px;
  }
